.container {
  max-width: 1200px;
  width: $fullWidth;
  margin: 0 auto;
}
.section {
  padding: 94px 0;
}
.section h2 {
  font-family: $fontFamilyPrimary;
  font-size: 36px;
  font-weight: $fontWeightBold;
  line-height: 1.2;
  text-align: $textAlignCenter;
}
