.page-header {
  display: flex;
  align-items: $flexAlignItems;
  justify-content: space-between;
  padding: 24px 0;
  &__menu {
    display: flex;
    gap: 40px;
  }
}
.page-header__nav {
  display: flex;
  align-items: center;
  background-color: var(--color-light);
}
.logo {
  font-family: $fontFamilySecondary, sans-serif;
  padding-right: 80px;
  font-size: 26px;
  font-weight: $fontWeightHeavy;
  line-height: 1.2;
  &--light {
    color: $colorLight;
  }
  &--dark {
    color: $colorDark;
  }
}
.page-header__link {
  position: relative;
  padding-bottom: 32px;
  color: $colorPrimary;
  transition: $hoverTransition;
}
.page-header__link--active {
  @extend .page-header__link;
  color: $colorSecondary;
}
.page-header__link::after,
.page-header__link--active::after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  left: 50%;
  bottom: 0;
  background-color: $colorSecondary;
  border-radius: 2px;
  transform: translate(-50%, 0);
  transition: $hoverTransition;
}
.page-header__link:hover,
.page-header__link:focus {
  color: $colorSecondary;
  fill: currentColor;
  &__::after,
  &__::after {
    width: $fullWidth;
  }
}
.contact:hover {
  color: $colorSecondary;
  fill: currentColor;
}
