* {
  margin: 0;
}
body {
  font-family: $fontFamilyPrimary;
  background-color: getColor('light');
  letter-spacing: 0.03em;
}
ul {
  list-style: $defaultNone;
  padding-inline-start: 0px;
}
a {
  text-decoration: $defaultNone;
  color: getColor('secondary');
}
p {
  color: getColor('medium');
}
input {
  border: $defaultNone;
  outline: $defaultNone;
}